<div class="container">
  <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
      <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
        <img class="mylogo" src="{{ url_for('static', filename='img/logo.png') }}" alt="Логотип">
      </svg>
    </a>

    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
      <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
      <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
      <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
      <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
      <li><a href="#" class="nav-link px-2 text-white">About</a></li>
      {% if current_user.group == "admin" %}
      <li class="nav-item dropdown">
        <a href="#" class="nav-link px-2 text-white dropdown-toggle" id="dropdownMenuSettings" role="button" data-bs-toggle="dropdown" aria-expanded="false">Настройки</a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuSettings">
          <li><a class="dropdown-item" href="{{ url_for('main.users') }}">Пользователи</a></li>
        </ul>
      </li>
      {% endif %}
    </ul>

    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
      <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
    </form>

    {% if current_user.is_authenticated %}
    <div class="dropdown">
      <a class="btn btn-warning dropdown-toggle" href="#" role="button" id="dropdownMenuUser" data-bs-toggle="dropdown" aria-expanded="false">
        {{ current_user.name }}
      </a>
      <ul class="dropdown-menu user-dropdown" aria-labelledby="dropdownMenuUser">
        <li><a class="dropdown-item" href="{{ url_for('main.edit_user', guid=current_user.guid) }}">Edit Profile</a></li>
        <li><a class="dropdown-item" href="{{ url_for('main.logout') }}">Logout</a></li>
      </ul>
    </div>
    {% endif %}
  </div>
</div>