/* FONTS astra */

@font-face {
    font-family: 'Pt Astra Sans';
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Pt Astra Sans';
    font-style: normal;
    font-weight: 600;
}